extends layout

block content
  //- h1 SINGLE IMAGE!!
  div(id="singleContainer")
    a(href="/")
      img(src="#{picture.url}" id="singleImage")
    p(class="singleText") Author: #{picture.author}
    p(class="singleText") Description: #{picture.description}
  a(href="/")
      button(id="takeMeBackSingle") BACK