doctype html
html
  head
    meta(charset="UTF-8")
    title Express Gallery
    link(href="/css/express_gallery.css" rel="stylesheet" type="text/css")
    <script src="/js/script.js"></script>
  body
    img(id="background" src="/ref/danbo-box-camera.jpg")
    block content