extends layout

block content
  img(src="/ref/newPhotoHeader.png" id="newPhotoHeader")
  //- h1(id="newPhotoHeader") Add a New Photo
  div(id="addForm")
    form(action="/gallery", method="POST" id="addInput")
      input(name="author", type="text", placeholder="  author" id="author")
      input(name="link", type="text", placeholder="  link" id="link")
      input(name="description", type="textarea", placeholder="  description" id="description")
      button(id="addPhoto") ADD PHOTO
    a(href="/")
      button(id="takeMeBack") BACK
