* {
  font-family: Lucida Console;
}

body {
  margin:0;
  width: 100%;
  overflow-x: hidden;
}

#overlay {
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  padding: 40px;

}

@font-face {
  font-family: 'CartoonRelief'
  src:('ref/CartoonRelief.ttf');
}

#background {
  position: fixed;
  z-index: -1;
  width: 100%;
  margin-top: -90px;
}

h1 {
  font-family: 'CartoonRelief';
  font-size: 110px;
  color: white;
}

#indexHeader {
  margin-top: 60px;
  margin-left: 20px;
  position: fixed;
}

#newPhotoHeader {
  margin-top: 200px;
  margin-left: 525px;
  position: fixed;
}

h3 {
  font-family: 'CartoonRelief';
  font-size: 30px;
  color: white;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-top: 30px;
  position: fixed;
}

p {
  color: black;
  font-family: Lucida Console;
  margin: 5px;
}

#addButton {
  margin-top: 625px;
  margin-left: 50px;
  position: fixed;
}

.viewButton {

}

.editButton {

}

.deleteButton {

}

form, input {
  width: 600px;
}

input {
  border: 2px solid black;
  border-radius: 25px;
  margin-bottom: 5px;
}

button {
  width: 605px;
  font-size: 15px;
}
input, button {
  height: 30px;
}

#description {
  height: 60px;
}

#leftDiv {
  float: left;
}

#rightDiv {
  float: right;
}

.photoDiv {
  background: rgba(255, 255, 255, 0.8);
  display: flex-wrap;
  width: 460px;
  margin-bottom: 20px;
  padding: 10px;
}

.butt {
  width: 30%;
  margin: 5px;
}

.buttonsDiv {
  width: 100%;
}

.photo {
  width: 100%;
}

/*--add New Photo form---*/

#addForm {
  float: right;
  margin-top: 350px;
  margin-right: 250px;
}

#addInput {

}

#addPhoto {
  height: 50px;
  font-size: 30px;
  background-color: yellow;
  border: 2px solid black;
  border-radius: 25px;
  margin-top: 10px;
}

#takeMeBack {
  margin-left: 5px;
  margin-top: 10px;
  background-color: #C89901;
  border: 2px solid black;
  border-radius: 25px;
}

/*---edit page----*/

.singlePhoto {
  position: fixed;
  margin-top: 200px;
  margin-left: 10px;
  border: 3px solid black;
  border-radius: 25px;
}

#editForm {
  float: right;
  margin-top: 350px;
  margin-right: 100px;
}

#editPhotoHeader {
  margin-top: 200px;
  margin-left: 700px;
  position: fixed;
}

/*----*/

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }